.container {
  height: 100vh;
  width: 100%;
}

.player {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 230, 184);
  position: absolute;
  transition: 0.2s;
}
.controle {
  position: fixed;
  bottom: 0;
  align-items: center;
  flex-direction: column;
  align-items: center;
  left: 45%;
}
.controle button {
  width: 75px;
  height: 75px;
}

.zombie {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  transition: 0.5s;
}

.fruit {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-color: rgb(102, 255, 110); */
  position: absolute;
  transition: 0.2s;
  background-image: url(./assets/money.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.endGame {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background: pink;
  z-index: 2;
  font-size: 50px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
}
